# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
#includes*
#misc*
#modules*
#profiles*
#/themes

# Ignore paths that contain user-generated content.
sites/default/files/js
sites/default/files/css
sites/default/files/styles
sites/*/files/styles/*
sites/*/files/css/*
sites/*/files/js/*
#sites/*/private
/.settings*
/.project
/.buildpath


/sites/all/modules/weinre
