# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
includes*
misc*
modules*
profiles*
/themes

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
