/*
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
*/

@font-face {
    font-family: 'Alef Hebrew';
    src: url('fonts/Alef-Regular.eot');
    src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alef-Regular.woff') format('woff'),
         url('fonts/Alef-Regular.ttf') format('truetype'),
         url('fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
td{
vertical-align:top;
}
*,p,li,a,b,span,div,.title.node_type{ 
        font-family: "Alef Hebrew" ;
}

/*  omega-text.css  START*/
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
/*  list-style: disc;*/
}

ul ul,
ol ol {
  padding-top: 0.5em;
}
.node ol,
.node ul {
  padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
/*    End omega-text.css*/


h2 {
  font-size: 18px;
  font-weight: normal;
}
li,div {
  font-size: /*14px*/14.5px;
  line-height: 16px;
}
p {
  line-height: 21px;
}

.field .field-label {
  font-size: 14.5px;
}
.CSS1Compat li a,
.CSS1Compat a:link, 
.CSS1Compat a:visited,
.field-name-body a,
.field-name-body a:link, 
.field-name-body a:visited,
.field-name-field-block a,
.field-name-field-block a:link, 
.field-name-field-block a:visited{
text-decoration-color: #fc6704;
 color: #fc6704 ;
}

.list {
  font-size: 22px;
  font-weight: bold;
padding-right:10px
}

/* ckeditor_custom module styles */
.img_with_left_text{
float:right;
}
.text_with_right_img{
width:510px;
}
.grid-10 .text_with_right_img{
width: 380px;
}
.more_arrow{
    background: url("/sites/all/themes/subomega/images/arrow.png") no-repeat scroll -10px 6px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    text-align: right;
    top: -10px;
    width: 100%;
    font-size : 11px;
      text-transform: capitalize;
}
.float{
float:left;
}
.img_border{
  border: 1px solid;
    border-radius: 3px;
}
.white_50_percent_background{
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}

.arrow_small{
background-image: url("/sites/all/themes/subomega/images/arrow_small.png");
background-position: right center;
background-repeat: no-repeat;
padding-right: 19px;
padding-bottom: 3px;
}


.bullet{
background-image: url("/sites/all/themes/subomega/images/bullet.png");
background-position: left center;
background-repeat: no-repeat;
padding-left: 13px;

}
.fieldblock-white-p {
background: #f0f0f0;
padding: 15px;
border-radius: 5px;
}
.side-by-side{
display:inline-block;
padding: 0 2%;
vertical-align: top;
width: 44%;
}
.CSS1Compat li,
.field-type-text-with-summary li,
.field-widget-text-textarea-with-summary li,
.list {
  background-image: url("/sites/all/themes/subomega/images/bullet.png");
  background-position: right 8px;
  background-repeat: no-repeat;
  padding-right: 10px;
  list-style-image: none ;
  list-style-type: none;
  line-height: 19px;
  padding-bottom: 10px;
}
.list-orange{
  background-image: url("/sites/all/themes/subomega/images/bullet-orange.png") !important;
}
.list-orange a{
text-decoration:none;
color: #333333 !important;
}
.arrow-orange {
  background-image: url("/sites/all/themes/subomega/images/arrow-orange.png");
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-left: 19px;
float:left;
margin-bottom: 20px;

}
.arrow-blue {
  background-image: url("/sites/all/themes/subomega/images/arrow-blue.png");
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-left: 19px;
color: #4C647B !important;
float:left;
margin-bottom: 20px;
 
}
.arrow-white {
  background-image: url("/sites/all/themes/subomega/images/arrow-white.png");
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-left: 19px;
float:left;
margin-bottom: 20px;
color: white !important;
  
}

#edit-field-block-und-0-value{
width:250px;
}
.field-type-text-with-summary td {
  padding-left: 18px;
}
.field-name-field-block .cke_3 {
  width: 310px;
}
.side_block_title{
color: #461818;
font-size: 18px !important;
vertical-align: top;
display: inline-block;
margin-bottom: 10px;
}

