#section-footer,
#section-content,
#zone-menu,
.site-name {
display: none;
}

.responsive-layout-fluid #zone-menu-wrapper{
visibility: hidden;
}

#block-block-6{
width:0px;
height:0px;
overflow:hidden;
}

img, div:not(.block), a {
  transition-duration: 1s !important;
  transition-property: width,height;
}

/*
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
*/

*{
font-family: "Alef Hebrew",“Helvetica Neue”,Helvetica,Arial,sans-serif !important;
word-wrap: break-word;
}
.not-front #page p, .not-front li {
  color: #333333;
  font-size: 14px;
}
.field-name-field-block.field-type-text-with-summary * {
 font-size: 14px;
color: #333333;
}

a,h1,h2,h3,h4,h5,h6{
	text-decoration: none !important;
}
.i18n-en #block-block-4 .en.active,
.i18n-he #block-block-4 .he.active,
.i18n-en .nice-menu .en.active,
.i18n-he .nice-menu .he.active{
	display: none !important;
}
#block-search-form {
     float: left;
}
#search-block-form .form-submit {
background-color: rgba(0, 0, 0, 0) !important;
background-image: url("/sites/all/themes/subomega/images/magdelet.png") !important;
background-position: center center;
background-repeat: no-repeat !important;
border: 0 solid #FFFFFF !important;
border-radius: 0 !important;
height: 21px;
margin: 1px 0 0 5px !important;
overflow: hidden !important;
padding-bottom: 0 !important;
padding-right: 0 !important;
padding-top: 0 !important;
text-indent: -9999px;
width: 19px;
}
#edit-search-block-form--2,
#search-block-form .form-type-textfield .form-item-search-block-form input{
color: #63809b;
background-color: rgba(0, 0, 0, 0);
border: 0 solid #FFFFFF !important;
  font-size: 16px;
padding: 0px;
}
#search-block-form .form-item-search-block-form{
margin: 0px;
float: left;
}

#first-time p {
  display: none;
}

/*.block .content img {
     height: auto ! important;
     max-width: 100%;
}*/
.block {
     display: block;
}

#section-header {
     background-color: #005941;
}

.site-name a {
     color: #FFFFFF;
font-family: tahoma !important;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
}
html[lang=en] .logo-img {
  float: left;
}
html[lang=en] .site-name-slogan {
  float: right;
} 

.site-name {
     text-align: left;
}

.logo-img {
     float: right;
}
#page-sub-title {
  font-size: 16px ;
  font-weight: bold;
}

.fluid {
     display: none ;
}

.front #page-title {
     display: none;
}

.i18n-he li.he.active ,
.i18n-en li.en.active  {
     display: none !important;
}

.front a#home {
display:none;
}
.not-front a#home {
display:inline-block;
background-position: right center;
background-repeat: no-repeat;
display: inline-block;
float: left;
height: auto;
padding: 10px 9px;
text-indent: -9999px;
width: 21px;
}
/*front*/

#block-search-form {
background-color: #E1E9F0;
border-radius: 7px;
float: right;
/*padding: 0 3px;*/
z-index: 10;
padding: 1px 10px 0 8px;

}
#block-search-form #edit-actions {
  display: block;
  float: right;
}
#block-search-form input.form-text {
margin: 0px;
overflow: hidden;
width: 160px;
}
#block-nodeblock-16 *,
#block-block-3 * {
  color: #457368;
font-family: tahoma !important;
}
#block-locale-language {
  display: none;
}
#block-nodeblock-16 *, #block-nodeblock-16 p {
  font-size: 18px;
line-height: 29px;
}
#page-title, #page-title * {
  font-size: 18px;
  color: #f05602;
}
.field-name-field-block.field-type-text-with-summary  a {
font-family: arial !important;
font-size: 14px;
}
aside#region-sidebar-second .block-fieldblock {
  background: none repeat scroll 0 0 #adadad;
  padding: 8px;
}
/*node 11*/

#node-page-11 .content > .field {
  margin-bottom: 70px;
color: #3e3e3e;
}
.page-node-11 .field-name-field-youtube {
  text-align: center;
}
.page-node-11 .field-item {
  font-size: 14px;
}

.page-node-32 #page-sub-title {
  display: none;
}

/*vies- people*/

#block-views-people-block-1 .block-title,
.view-display-id-block_1 .views-field-field-category{
  display: none;

}
.view-id-people h3 {
  color: #4C647B;
font-size: 16px;
font-weight: bold;
margin-bottom: 25px;
}
.view-id-people .views-field-nothing a {
  color: #333333;
  font-size: 14px;
}

.view-id-people .views-field-nothing  {
background-image: url("/sites/all/themes/subomega/images/bullet.png");
background-repeat: no-repeat;
padding-right: 0px;
padding-left: 15px;
margin-bottom: 14px;
}

.i18n-he .view-id-people .views-field-nothing  {
background-position: right  7px !important;
padding-right: 10px;
}
.i18n-en .view-id-people .views-field-nothing  {
background-position: left 7px ;
}
.view-id-people .views-field-nothing a:hover {
  color: #f05602;
}
/*node-type-people*/
.node-type-people .field-name-title-field {
color: #F05602;
font-size: 14px;
font-weight: bold;
margin-bottom: 15px;
}
.node-type-people .field-name-field-email {
  color: #F05602;
    font-size: 14px;
}
.node-type-people .field-name-field-role .field-item {
  color: #333333;
  font-size: 14px;
}
.node-type-people .field-name-field-category .field-item {
  font-size: 16px;
  font-weight: bold;
  color: #4c647b;
}
.node-type-people .field-name-body {
  border-top: 1px solid #B0AEAE;
}
#block-fieldblock-node-people-default-field-block * {
  color: #4C647B!important;
}
aside#region-sidebar-second .field-name-field-block .field-item {
  margin-bottom: 20px;
}
/*
 * 
.node-type-people #page-title{
text-indent:-9999px;
}

 
.i18n-he.node-type-people #page-title:after{
content: "האנשים";
}


.i18n-en.node-type-people #page-title:after{
content: "pepole";
}
.node-type-people #region-content {
  position: relative;
  top: -20px;
}
*/
/*  NODE - TYPE - PEOPLE */

.field-name-field-category {
  margin-bottom: 45px;
}
.field-name-field-image-profile {
 float: right;
margin-left: 25px;
border: solid 1px black;
border-radius: 5px;
overflow: hidden;
}
.node-type-people .field-name-field-role {
  min-height: 98px;
}
/*
.responsive-layout-normal.node-type-people #region-sidebar-second{
  left: -15px;
  position: relative;
  top: -30px;
}
*/

.field-name-field-email a {
  background: url("/sites/all/themes/subomega/images/email.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  padding-right: 28px;
}
.node-type-people .field-name-field-email a{
  color: #F05602;
  font-size: 14px;
}
.node-type-people .field-name-body {
  border-top: 1px solid #B0AEAE;
  margin-top: 20px;
  padding-top: 20px;
}
#block-views-teams-block {
  display: none;
}

/*	SEARCH */
#block-system-main #search-form{
display: none;
}
.search-result .title a {
  color: #fa5c05 !important;
  font-size: 16px;
}
.search-results li {
  border-bottom: 2px solid #C9C5C5;
}
.search-results li:first-child {
border-top: 2px solid #C9C5C5;
padding-top: 10px !important;
 
}
.search-results .title {
    display: inline-block;
}
.search-results li {
  list-style: decimal inside none !important;
  margin-bottom: 1em;
  padding: 0 1px !important;
}
.page-search #block-blockify-blockify-breadcrumb{
display:none;
}
.page-search #search-header span{
color: #F05602;
}

#search-header {
background-color: #005941;
color: #FFFFFF;
display: inline-block;
font-size: 20px;
font-weight: bold;
padding: 6px 6px 10px;
}
html[lang=he] .page-search h1.title:before {
  content: "תוצאות ";
}
html[lang=en] .page-search h1.title:after {
  content: " results";
}
.page-search .item-list{
direction: ltr;
float: left;
}
.page-search .pager-previous > a ,
.page-search .pager-next > a {
  background: url("/sites/all/themes/subomega/images/pager-next.png") no-repeat scroll right center ;
  display: inline-block;
  height: 17px;
  text-indent: -9999px;
  width: 5px;
}
.page-search .pager-previous > a {
background-position:left center;
}
.page-search .pager {
  text-align: left !important;
}
.page-search .pager-current {
color: #02497e !important;
}
.page-search .pager-first,
.page-search .pager-last{
display:none !important;
}

.page-search .item-list ul.pager li a{
color: #4a7ea4;
}
.page-search .item-list ul.pager li {
margin: 0 !important;
padding: 0 4px;
}

.block-nodeblock .field-name-field-youtube iframe {
  max-width: 100%;
}
.page-node-35 #block-fieldblock-node-programs-israel-default-field-block td {
  padding-bottom: 8px;
}
