#block-block-6{
width:0px;
height:0px;
overflow:hidden;
}

img, div:not(.block), a {
  transition-duration: 1s !important;
  transition-property: width,height;
}

/*
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
*/

*{
font-family: "Alef Hebrew",“Helvetica Neue”,Helvetica,Arial,sans-serif !important;
}
.not-front #page p, .not-front li {
  color: #333333;
  font-size: 14px;
}
.field-name-field-block.field-type-text-with-summary * {
  font-size: 14px;
}
.field-name-field-block.field-type-text-with-summary p {
  color: #333333;
}
a,h1,h2,h3,h4,h5,h6{
	text-decoration: none !important;
}
.i18n-en .menu .en.active,
.i18n-he .menu .he.active{
	display: none;
}
#block-search-form {
     float: left;
}
 .not-front #page {
  background-color: #F0F0F0;
}
.not-front #zone-content{
 background-color: #E6E6E6;
}
#search-block-form .form-submit {
background-color: rgba(0, 0, 0, 0) !important;
background-image: url("/sites/all/themes/subomega/images/magdelet.png") !important;
background-repeat: no-repeat !important;
border: 0 solid #FFFFFF !important;
border-radius: 0 !important;
height: 18px;
margin: 1px 0 0 5px !important;
overflow: hidden !important;
padding-bottom: 0 !important;
padding-right: 0 !important;
padding-top: 0 !important;
text-indent: -9999px;
width: 19px;
}
#edit-search-block-form--2,
#search-block-form .form-type-textfield .form-item-search-block-form input{
color: #63809b;
background-color: rgba(0, 0, 0, 0);
border: 0 solid #FFFFFF !important;
}
#search-block-form .form-item-search-block-form{
margin: 0px;
}

#first-time p {
  display: none;
}

.block .content img {
     height: auto ! important;
     max-width: 100%;
}
.block {
     display: block;
}

#section-header {
     background-color: #005941;
}

.site-name a {
     color: #FFFFFF;
font-family: tahoma !important;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
}

.site-name {
     text-align: left;
}

.logo-img {
     float: right;
}

.fluid {
     display: none ;
}

.front #page-title {
     display: none;
}

html[lang="he"] .language-switcher-locale-url .he {
     display: none;
}

html[lang="en"] .language-switcher-locale-url .en {
     display: none;
}

.front a#home {
display:none;
}
.not-front a#home {
display:inline-block;
background-image: url("/sites/all/themes/subomega/images/home-icon.png");
background-position: right center;
background-repeat: no-repeat;
display: inline-block;
float: left;
height: auto;
padding: 10px 9px;
text-indent: -9999px;
width: 21px;
}
/*front*/

#block-search-form {
background-color: #E1E9F0;
border-radius: 10px;
float: right;
/*padding: 0 3px;*/
z-index: 10;
padding: 1px 10px 0 8px;

}
#block-search-form #edit-actions {
  display: block;
  float: left;
}
#block-search-form input.form-text {
margin: 0px;
overflow: hidden;
width: 160px;
}
#block-nodeblock-16 *,
#block-block-3 * {
  color: #457368;
font-family: tahoma !important;
}
#block-locale-language {
  display: none;
}
#block-nodeblock-16 *, #block-nodeblock-16 p {
  font-size: 18px;
  line-height: 30px;
}
#page-title, #page-title * {
  font-size: 18px;
  color: #f05602;
}
.field-name-field-block.field-type-text-with-summary  a {
font-family: arial !important;
font-size: 14px;
}
aside#region-sidebar-second .block-fieldblock {
  background: none repeat scroll 0 0 #adadad;
  padding: 8px;
}
/*node 11*/

#node-page-11 .content > .field {
  margin-bottom: 70px;
color: #3e3e3e;
}
.page-node-11 .field-name-field-youtube {
  text-align: center;
}
.page-node-11 .field-item {
  font-size: 14px;
}
/*node 28*/
#node-page-28 li a {
  color: #333333;
}
