.responsive-layout-fluid .mobile {
     border-radius: 5px;
     box-shadow: 0px 0px 31px -17px #FF0000 inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
     display: block;
}

.logo-img {
     display: inline-block;
     float: right;
     height: auto;
     margin: 4px 2px 2px;
     width: 85px;
}

img#logo {
     height: auto;
     margin-bottom: 3px;
     width: 100%;
}

.responsive-layout-fluid .site-name {
     font-size: 18px;
     margin-bottom: 0px;
     margin-top: 14px;
}

.site-name a {
     letter-spacing: 0px;
}

.site-name-slogan {
     display: inline-block;
     float: left;
}
