 .responsive-layout-normal.not-front #page {
  background-color: #F0F0F0;
}
.responsive-layout-normal.not-front #zone-content{
 background-color: #E6E6E6;
}
/*sidbar -- menu */
.block_menu_processed #block-block-6 a{
	color:#41576b;
}
.block_menu_processed #block-block-6,
.block_menu_processed #block-block-6 a,
.block_menu_processed aside#region-sidebar-first #block-block-6 .active-trail > ul,
.block_menu_processed aside#region-sidebar-first #block-block-6 ul.active-trail ,
#block-block-6 .content > li > ul {
  display: block ;
}
#block-block-6 > li > a {
padding-right:5px !important;
letter-spacing: -1px;
margin-right: 0px !important;
}
/*#block-block-6 .menu-548 > a ,*/
#block-block-6 .menu-557 > a ,
.block_menu_processed aside#region-sidebar-first #block-block-6 li ul {
display:none;
}
.block_menu_processed aside#region-sidebar-first #block-block-6 li ul {
  margin-right: 0px;
  margin-bottom: 0px;
}
.block_menu_processed #block-block-6 li a{
/*line-height: 28px;*/
padding: 7px;
}
.block_menu_processed #block-block-6  a{
line-height: 18px;

}
.block_menu_processed aside#region-sidebar-first #block-block-6 > .content > li ,
.block_menu_processed aside#region-sidebar-first #block-block-6 > .content > li * {
  color: #333333;
}
.block_menu_processed aside#region-sidebar-first #block-block-6 > .content > li> a  {
display: block;
font-size: 18px;
font-weight: bold;
width: 100%;
border-bottom: 1px solid #e6e6e6;
}
.block_menu_processed aside#region-sidebar-first #block-block-6 > .content > li > ul a {
display: block;
font-size: 16px;
line-height: 18px;
padding: 0 7px 0 26px;
color:#b5d5f0;
}
.block_menu_processed aside#region-sidebar-first #block-block-6  il,
.block_menu_processed aside#region-sidebar-first #block-block-6  ul {
padding-bottom: 0px;
padding-top: 0px;
  padding-right: 0px;

}
.block_menu_processed aside#region-sidebar-first #block-block-6  a {
  padding-right: 5px;

}
.i18n-en.block_menu_processed aside#region-sidebar-first #block-block-6  a {
  padding-right: 10px;

}
.block_menu_processed aside#region-sidebar-first #block-block-6  a{
border-bottom: 1px solid #e6e6e6;
}
.block_menu_processed aside#region-sidebar-first #block-block-6  ul ul > li > a{
border-bottom: 0px solid #e6e6e6;
}
.node-type-programs-overseas.block_menu_processed #block-block-6 .menu-558.active-trail >a,
.node-type-programs-overseas.block_menu_processed #block-block-6 .menu-559.active-trail >a,
#block-block-6 > li > a:first-child {
color: #333;
font-weight: bold;
font-size: 18px;
font-family: alef hebrew;
}
#block-block-6 ul a + ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
#block-block-6 ul a + ul li a,
#block-block-6 ul a + ul ul li a{
background-image: url("/sites/all/themes/subomega/images/bullet.png");

background-repeat: no-repeat;
font-size: 14px;
line-height: 15px !important;
padding-right: 16px ;
}
html[lang=en] #block-block-6 ul a + ul li a,
html[lang=en] #block-block-6 ul a + ul ul li a{
background-position: 4% center !important;
padding-left: 16px !important;
padding-right: 13px !important;
letter-spacing: -0.5px;


/*background-position: 4% center !important;
padding-left: 16px !important;
padding-right: 0px !important;*/
}
html[lang=he] #block-block-6 ul a + ul li a,
html[lang=he] #block-block-6 ul a + ul ul li a{
padding-left: 0px !important;
padding-right: 16px !important;
background-position: 96% center;
}
#block-block-6 li.menuparent:not(.menu-560) {
  background-image: none !important;
font-size: 16px;

}
#block-block-6 ul a + ul li a {
font-size: 14px;
}
#block-block-6 .active-trail > a,
#block-block-6 a.active,
#block-block-6 ul .active,
#block-block-6 a:hover{
	background-color: #b5d5f0;
}

#block-block-6 > .active-trail > a{
	background-color: rgba(0,0,0,0);
}

.block_menu_processed aside#region-sidebar-first #block-block-6 ul .active-trail a,
.block_menu_processed aside#region-sidebar-first #block-block-6 ul a:hover{
	color:#333333;
}
.block_menu_processed aside#region-sidebar-first #block-block-6 > .content > li:first-child{

  font-size: 18px !important;
}
.block_menu_processed aside#region-sidebar-first #block-block-6 {
background: none repeat scroll 0 0 #FFF0DA;
border-radius: 0 0 10px 10px;
box-shadow: 0 4px 5px -2px;
margin-left: 0px;
margin-right: 20;
padding-bottom: 20px;
padding-top: 65px;
position: relative;
right: 0px;
top: -30px;
width: 155px;

}
html[lang=he] .block_menu_processed aside#region-sidebar-first #block-block-6 {
background: none repeat scroll 0 0 #FFF0DA;
border-radius: 0 0 10px 10px;
box-shadow: 0 4px 5px -2px;
margin-left: 20px;
margin-right: 0;
padding-bottom: 20px;
padding-top: 65px;
position: relative;
right: 0px;
top: -30px;
width: 155px;

}

html[lang=he] .block_menu_processed #region-sidebar-first {
margin-left: 20px;
margin-right: 0px;


}
.block_menu_processed #region-sidebar-first {

overflow: visible;
max-width: 150px;
}
.block_menu_processed #region-sidebar-first #block-block-6 li:not(.menu-560),
.block_menu_processed #region-sidebar-first #block-block-6 ul{
list-style:none;
}
.node-type-programs-overseas.block_menu_processed #region-sidebar-first #block-block-6 > li > ul > li > ul > li >a {
background-image: none !important;
font-size: 16px;
}
.block_menu_processed #block-block-6 > li > ul > li > a {
  font-size: 16px;
  }
  
#nice-menu-1 li li a:hover {
  background-color: #b5d5f0;
}
#nice-menu-1 > li > a:hover {
  background-color: #FFF0DA !important;
  color:#63809B;
}

#region-content {
  padding: 0 0 0 61px !important;
  width: 884px ;
}

.not-front #zone-content{
left: 4px;
margin-top: 13px;
margin-bottom: 13px;
padding: 30px 15px !important;
position: relative;
width: 960px !important;
min-height: 370px;
}
.not-front .sidebar_first #zone-content {
/*  width: 935px !important;
*/}
.region{
	overflow:hidden;
}
#region-menu{
	overflow:visible;
}
.sidebar_first #region-content {
  margin-left: 0px;
  padding-left: 0 !important;
  width: 775px

}
/*.not-front .sidebar_second #zone-content, 
.not-front .sidebar_first #zone-content{
  padding-left: 0 !important;
  padding-right: 0 !important;

}*/ 
.two_sidebars #region-content {
  padding: 0 !important;
  width: 400px;
}
#region-sidebar-first + #region-content + #region-sidebar-second {

}
.not-front #region-content + #region-sidebar-second {
  width: 270px;
}
 #region-sidebar-second {
float: right; 
 }
.not-front #region-sidebar-first + #region-content + #region-sidebar-second {
width: 300px;
}
html[lang=he]  #region-sidebar-second {
float: left !important;
}
#region-sidebar-second {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/*
.node-type-page.responsive-layout-normal #region-content{
  width: 435px;
}
*/

.responsive-layout-normal .zone-footer-wrapper {
  background-color: #005941;
}


.responsive-layout-normal.front aside .block,
.responsive-layout-normal.front #region-content .block:not(#block-system-main){
margin-bottom: 74px;

}
.responsive-layout-normal #region-content .block#block-nodeblock-16{
margin-bottom: 35px !important;
}
.zone.container-12 {
  width: 925px ;
}
.not-front #zone-menu{
  width: 960px ;
}
.front .block-nodeblock .content {
  padding: 0 8px 8px 8px;
}

html[lang=en] #region-content .block-nodeblock {
  margin-top: 0px;
  margin-bottom: 41px !important;
}
.front #section-content .region-content .block-nodeblock.normal .content{
/*  border-radius: 10px !important;
  */overflow: auto;
}
.edit-editing input[type=text] {
width: 250px !important;
}
.edit-editing .description {
	white-space: normal;
}
.front .block .block-title {
border-radius: 10px;
color: #FFFFFF;
font-size: 22px;
font-weight: bold;
margin-bottom: 15px;
padding: 9px 10px;
}
#block-nodeblock-6 {
background-color: rgba(0, 0, 0, 0) !important;
margin-top: 10px;
border-radius: 7px;
overflow: hidden;
}
.front #section-content .block:not(#block-nodeblock-16,#block-system-main){
border-radius: 10px;
margin: 10px 0;
overflow: hidden;
}
.front #section-content .block{
border-radius: 10px !important;

}
.field-name-field-cover-image {
  float: left;
}
.front .node-media-block .field-name-body {
  color: #FFFFFF;
  float: right;
  font-size: 16px;
}
.front .node-media-block .field-name-body {
  width: 262px;
}
.front .node-media-block .field-name-body:last-child {
  width: 100%;
}
.front  .block-nodeblock ,
#block-nodeblock-9 {
margin-bottom: 90px;
  background-color: #63809b;
}

#block-nodeblock-7 .block-title {
  background-color: #e4703a;
}


#block-nodeblock-7 {
background-color: #F6945E;
margin-bottom: 90px;
}
#block-nodeblock-8 .block-title {
  background-color:#873661;
}

.front  .block-nodeblock .block-title ,
#block-nodeblock-9 .block-title {
  background-color: #3e5b79;
}
#block-nodeblock-10 .block-title {
  background-color: #00748f;
}
#block-nodeblock-10  {
 background-color: #519AB3;
margin-top: 82px;
 padding-bottom: 8px;
}
#block-nodeblock-8 {
  background-color: #9b5777;
}

.i18n-he.front .region-sidebar-second {
margin-left: 0px;
}
.front .region-content{
margin-right:0px;
}


.front .sidebar_second #region-sidebar-second {
  float: right;
  overflow: hidden;
  width: 432px;
}
html[lang=he].front .sidebar_second #region-sidebar-second {
  float: left;
}
#section-header {
  background-color: #005941;
  margin-bottom: 5px;
}
.sidebar_second.zone-content-wrapper #region-content{
width: 625px;
}
html[lang=en] .sidebar_second.zone-content-wrapper #region-content{
padding-right: 15px !important;
padding-left: 0px !important;
margin-left: 0px !important;
}
html[lang=he] .sidebar_second.zone-content-wrapper #region-content{
padding-left: 0px !important;
padding-right: 15px !important;
}
.front .sidebar_second.zone-content-wrapper #region-content{
  width: 430px;
}

.field-slideshow-caption {
  background-color: #454444;
  bottom: 0;
  color: #FFFFFF;
  font-family: alef hebrew;
  font-size: 18px;
  line-height: 36px;
  padding: 0 5%;
  position: absolute;
  text-align: left;
  width: 90%;
}
#block-nodeblock-6 .content {
  padding:0px;
}
.responsive-layout-fluid .block.fluid{ 
        display:none;
}
.logo-img {
  height: auto;
  margin-top: 17px;
  position: relative;
  right: -14px;
  width: 240px;
}

.grid-12.region {
  width: 960px;
  margin: 0px;
}
#edit-search-block-form--2,
#search-block-form .form-type-textfield .form-item-search-block-form input{
width: 172px;
}
#block-search-form {
margin: 9px 5px 0px 0;
border: 1px solid #808080;

}
.block-system.block-menu .block-title{
	display: none;
}
.logo-img {
     height: auto;
     margin-top: 17px;
     width: 242px;
}

.site-name a {
     letter-spacing: 1px;
}
#block-nice-menus-1{
position: relative;
}
#nice-menu-1 > .content > li {
  background-image: none;
  margin: 0;
  background-color: #63809B !important;
  color: white !important;
  border: 0px solid;
}
.nice-menu li a {
  color: #FFFFFF;
padding: 13px 6px 9px;
font-size: 16px;
}
ul.nice-menu li {
background-image: none;
border: 0 solid #000000;
margin: 0;
padding-right: 0;
background-color: transparent !important;
}

#region-menu {
  width: 100%;
  margin: 0px;
}
.responsive-layout-normal #block-system-main-menu .menu li:first-child {
  margin-right: 0;
}
#nice-menu-1 li.active-trail li.active-trail,
#nice-menu-1 li.active-trail li.active-trail li.active-trail ,
#nice-menu-1 .active-trail .active-trail{
  background-color: #b5d5f0 !important;

}
#nice-menu-1 > li.active-trail{
  background-color: #fff0da !important;
}
#nice-menu-1 > li.active-trail a{
color:#63809B;
}
#nice-menu-1 ul {
background-color: #FFF0DA !important;
border-right: 2px solid #63809B;
display: table;
margin-top: 8px;
}
#nice-menu-1 ul a{
	color:#63809b;
	font-size:14px;
}
.responsive-layout-normal .menu li {
 display:inline;
padding-left: 5px;
}
.responsive-layout-normal #nice-menu-1 ul>li>ul>li>ul {
  display: none;
}
html[lang=he] .content > ul.nice-menu-down li ul li ul{
left: auto !important;
}
html[lang=he] .content > ul.nice-menu >li> ul {
left: auto !important;
right: 0px;

}



.responsive-layout-normal .site-name {
  font-size: 36px;
margin: 85px 0 3px 17px;
}
/*front*/

.responsive-layout-normal #zone-menu-wrapper {
background-color: #63809B;
box-shadow: 1px 1px 6px 3px #444444;
padding:0px;
}
.responsive-layout-normal #zone-menu{
/*min-height: 40px;*/
}
.responsive-layout-normal #zone-menu .menu a{
font-size: 16px;
line-height: 40px;
}
.responsive-layout-normal #block-system-main-menu .menu li a {
  color: #ffffff;
}
.responsive-layout-normal #block-system-main-menu .menu li :hover {
  background-color: #fff0da;
  color: #63809d;
}
#zone-branding-wrapper{
min-height:126px;
}
html[lang=he] #block-nodeblock-10 .field-name-body {
float: left;
}
#block-nodeblock-10 .field-name-body {
  float: right;
  width: 105px;
}
#block-nodeblock-10 .field-name-field-youtube ,
#block-nodeblock-10 .field-name-field-youtube iframe {
max-height: 194px;
max-width: 280px;
}

/*
.responsive-layout-normal #block-search-form {
   margin: 10px 33px 0 0px; 
*/

#block-nodeblock-16 > .content{
background-image: url("/sites/all/themes/subomega/images/line.png");
background-position: left 7px;
background-repeat: no-repeat;
}
html[lang=he] #block-nodeblock-16 > .content{
background-position: right 7px;
}
#block-nodeblock-16 {
background-color: rgba(0, 0, 0, 0);
line-height: 29px;
margin: 12px 0 36px;
padding: 0;
}

#block-nodeblock-16 *,
#block-nodeblock-16 p{
font-size: 17px ;
}

 html[lang=he] #block-nodeblock-16 *,
 html[lang=he] #block-nodeblock-16 p{
font-size: 18px ;
}
.breadcrumb .last {
  color: #FC6E06;
  font-size: 13px;
}
.breadcrumb a,.breadcrumb_sep {
  color: #4c4c4c;
  font-size: 13px;
}
#block-blockify-blockify-breadcrumb {
  margin-top: 10px;
  margin-right: 5px;
}
.breadcrumb_sep {
  padding-left: 2px;
  padding-right: 2px;
}
 
.block-fieldblock .field-name-field-block img {
  max-width: 100%;
}
/*footer*/
#block-block-5 {
  float: right;
}
html[lang=he] #block-block-5 {
  float: left;
}
#block-menu-menu-footer h2 {
  display: none;
  
}
#block-menu-menu-footer li  ,
#block-menu-menu-footer li  a{
  color: #FFFFFF;
}
#block-block-5 .content p {
  color: #FFFFFF;
  font-size: 14px;
}
#block-block-5 p , #block-menu-menu-footer li {
  font-size: 14px;
margin-bottom: 0px;
  }
#block-menu-menu-footer li:after {
content: ":";
padding-left: 3px;
padding-right: 3px;
}
html[lang=he] #block-menu-menu-footer li:after {
padding-right: 3px;
padding-left: 3px;
}
#block-menu-menu-footer li.en:after {
	content: "";
}
#block-menu-menu-footer li.he:after {
	content: "";
}
#block-menu-menu-footer li:last-child:after  {
  content: none;
}
#block-menu-menu-footer li {
padding-right: 1px !important;
padding-left: 1px !important;
margin: 0px !important;
}
 html[lang=he] #block-menu-menu-footer li {
padding-left: 1px !important;
padding-right: 1px !important;

}
.responsive-layout-normal #region-footer-first {
  padding: 10px;
}

#node-page-30 .field-name-body .field-item p:nth-child(n+2) {
border-right: 1px solid #333333;
min-height: 149px;
padding-right: 1%;
padding-left: 4%;
display: inline-block;
vertical-align: top;
width: 27%;
}
html[lang=he] #node-page-30 .field-name-body .field-item p:nth-child(n+2) {
 border-right:0px;
 border-left: 1px solid #333333;
min-height: 131px;
padding-left: 1%;
padding-right: 4%;
 
}
#node-page-30 .field-name-body .field-items p:nth-child(2) {
  padding-left: 59px;
}
html[lang=he] #node-page-30 .field-name-body .field-items p:nth-child(2) {
  padding-right: 59px;
}
 #node-page-30 .field-name-body .field-item p:nth-child(5) {
  display: block;
  width: auto;
  border-right: none;
  margin-top: 70px;
}
html[lang=he] #node-page-30 .field-name-body .field-item p:nth-child(5) {
    border-left: none;
  
}
#node-page-30 .field-name-body .field-item p:nth-child(4) {
border-right: medium none;
padding-right: 0;
padding-left: 3%;
width: 29%;
}
html[lang=he] #node-page-30 .field-name-body .field-item p:nth-child(4) {
border-left: medium none;
padding-left: 0;
padding-right: 3%;
width: 29%;
}
#node-page-30 .field-name-body .field-item p:nth-child(1) {
  margin-bottom: 50px;
}
#node-page-30 .field-name-body .field-item p:nth-child(3) {
 text-align: left;
}
html[lang=he] #node-page-30 .field-name-body .field-item p:nth-child(3) {
 text-align: right;
}

body.front{
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNhNGI5Y2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 40%, #a4b9cb 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(90%,#a4b9cb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 40%,#a4b9cb 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 40%,#a4b9cb 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 40%,#a4b9cb 90%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 40%,#a4b9cb 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a4b9cb',GradientType=0 ); /* IE6-8 */
}
.front #zone-content .block a {
  color: white !important;
}
#menu_toggle{
display:none;
}
.not-front a#home {
background-image: url("/sites/all/themes/subomega/images/home-icon.png");

}
#search-header {
min-width:500px;
}

#section-footer,
#section-content,
#zone-menu,
.site-name {

 display: inherit;
}
